:root {
    /* sizes */
    --width: 900px;
    --basefont: "Nunito";
    --border-radius: 10px;

    /* general colors */
    --websitebackgroundcolor: #879d6d;
    --backgroundimage: url(https://i.ibb.co/RG4L7N4r/ENYJEQL.png);
    --headerimage: url(/img/websiteBanner.png);
    --titlecolor: white;

    --pagecontentmaincolor: #e9ecdb;
    --pagecontentaccentcolor: #4e6137;
    --pagecontentfontonaccentcolor: #ffffff;
    --pageoutline: rgba(74, 118, 58, 0.46);

    --navbuttoncolor: #bbcda5;
    --navbuttonhovercolor: #ffffff;
    --navbuttontext: #000000;

    --textcolor: #16190f;
    --linkhovercolor: #475407;
    --linkcolor: #9a5b1a;

    /* collecting page header/deck colors */
    --collectingcolor-red: #ffdbdb;
    --collectingcolor-orange: #ffeee2;
    --collectingcolor-yellow: #fcfade;
    --collectingcolor-green: #e2fce6;
    --collectingcolor-blue: #dff2fd;
    --collectingcolor-purple: #e3e3ff;
    --collectingcolor-brown: #e9d4b7;
    --collectingcolor-gray: #d4d4d4;
    --collectingcolor-special: white;

    --creditslink: #fff575;

    @media (prefers-color-scheme: dark) {
        /* general colors */
        --websitebackgroundcolor: #211f1f;
        --pagecontentmaincolor: #191717;
        --pagecontentaccentcolor: #778d60;
        --pageoutline: rgba(74, 118, 58, 0.15);

        --navbuttoncolor: #778d60;
        --navbuttonhovercolor: #73a535;
        --navbuttontext: #000000;

        --textcolor: #f4f4f4;
        --linkhovercolor: #e2ae50;
        --linkcolor: #a8d38d;

        /* collecting page header/deck colors */
        --collectingcolor-red: #3b2e2e;
        --collectingcolor-orange: #433b35;
        --collectingcolor-yellow: #595634;
        --collectingcolor-green: #3a5c40;
        --collectingcolor-blue: #2b4452;
        --collectingcolor-purple: #29294c;
        --collectingcolor-brown: #312718;
        --collectingcolor-gray: #333333;
        --collectingcolor-special: #0f0f0f;

        --creditslink: #9a5b1a;
    }
}

@font-face {
    font-family: "Nunito";
    font-display: swap;
    src: url(/fonts/Nunito-VariableFont_wght.ttf);
}

/* DO NOT CHANGE BELOW UNLESS YOU KNOW WHAT YOU'RE DOING */

/* -------------------------------------------------------- */
/* GENERAL SETUP */
/* -------------------------------------------------------- */
html {
    position: relative;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--websitebackgroundcolor);
    font-family: var(--basefont);
    font-size: 1rem;
    color: var(--textcolor);
    /* background image instead of color */
    background-image: var(--backgroundimage);
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
    margin: 0;

    &:focus-visible {
        outline-color: skyblue !important;
        outline-offset: -1px !important;
        outline-style: solid !important;
        outline-width: 3px !important;
        border-color: transparent;
    }
}

a img:focus {
    opacity: 0.8;
    filter: none;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
}

#sitecontainer {
    width: var(--width);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}

section {
    margin-bottom: 30px;
}

section:last-of-type {
    margin-bottom: 0;
}

/* --------------------------------------------------s------ */
/* SCROLL TO TOP */
/* -------------------------------------------------------- */
#backscroll {
    position: fixed; /* Fixed/sticky position */
    bottom: 13px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color: var(--pagecontentaccentcolor);
    color: var(--pagecontentfontonaccentcolor);
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 20px; /* Some padding */
    border-radius: var(--border-radius); /* Rounded corners */
    font-size: 1.1rem; /* Increase font size */
    transition: 0.5s;
    text-decoration: none;

    &:hover {
        background-color: var(--linkhovercolor);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
    }
}

/* -------------------------------------------------------- */
/* ACCESSIBILITY, DO NOT REMOVE */
/* -------------------------------------------------------- */
#skip a {
    position: absolute;
    display: inline-block;
    left: 0;
    top: -1000px;
    overflow: hidden;
    transition: top 0.5s ease;
    background: var(--pagecontentmaincolor);
    color: var(--linkcolor);
    z-index: 1000;
    padding: 10px;
}

#skip a:focus {
    top: 0;
    transition: top 0.5s ease;
}

/* -------------------------------------------------------- */
/* STYLING */
/* -------------------------------------------------------- */
p {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

h1 {
    color: var(--titlecolor);
    margin-bottom: 10px;
}

h2 {
    background-color: var(--pagecontentaccentcolor);
    color: var(--pagecontentfontonaccentcolor);
    padding: 10px 0;
    border-radius: var(--border-radius);
    margin: 10px 0;
    text-transform: capitalize;
}

h2:first-of-type {
    margin-top: 0;
}

h3 {
    color: var(--pagecontentaccentcolor);
    margin: 5px;
}

bold,
b,
strong {
    color: var(--pagecontentaccentcolor);
}

a {
    color: var(--linkcolor);
    transition: 0.5s;
}
a:hover {
    color: var(--linkhovercolor);
}

hr {
    border: 1px solid var(--pagecontentaccentcolor);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

ul {
    text-align: left;
}

ul li {
    margin-bottom: 5px;
}

ul li:last-child {
    margin-bottom: 0;
}

/* -------------------------------------------------------- */
/* HELPER CLASSES */
/* -------------------------------------------------------- */
.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fcol {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
    margin: auto;
}
.spaceevenly {
    justify-content: space-evenly;
}
.tleft {
    text-align: left;
}
.section {
    margin: 5px;
}
.marginimage {
    margin: 5px;
}
.cardimage {
    margin: 0;
}

/* -------------------------------------------------------- */
/* BODY */
/* -------------------------------------------------------- */
#middle {
    min-height: 500px;
    width: 100%;
    padding: 10px;
    padding-bottom: 25px;
    background-color: var(--pagecontentmaincolor);
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius);
    box-shadow: 6px 6px 0 var(--pageoutline);
}

/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */
#websiteheader {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px 0;
    border-radius: var(--border-radius);
    background-image: var(--headerimage);
    outline: 3px solid var(--pagecontentaccentcolor);
}

#navbar {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.navbutton {
    color: var(--navbuttontext);
    background-color: var(--navbuttoncolor);
    text-decoration: none;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: var(--border-radius);
}

.navbutton:hover {
    color: var(--navbuttontext);
    background-color: var(--navbuttonhovercolor);
    letter-spacing: 1px;
}

/* -------------------------------------------------------- */
/* HOME PAGE */
/* -------------------------------------------------------- */
#avatar {
    width: 80px;
}
.portfoliobutton {
    border: none;
    background-color: transparent;
}
.portfoliohidden {
    background-color: var(--pagecontentmaincolor);
    width: max-content;
    border: 1px solid var(--pagecontentaccentcolor);
    position: absolute;
    display: none;
    text-align: left;
}
.pendingsection {
    margin: 5px;
    margin-top: 0;
}
#crayonscontainer {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}
.crayoncount {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5px;
}

/* -------------------------------------------------------- */
/* COLLECTING PAGE */
/* -------------------------------------------------------- */
.deckred {
    background-color: var(--collectingcolor-red);
}
.deckorange {
    background-color: var(--collectingcolor-orange);
}
.deckyellow {
    background-color: var(--collectingcolor-yellow);
}
.deckgreen {
    background-color: var(--collectingcolor-green);
}
.deckblue {
    background-color: var(--collectingcolor-blue);
}
.deckpurple {
    background-color: var(--collectingcolor-purple);
}
.deckbrown {
    background-color: var(--collectingcolor-brown);
}
.deckgray {
    background-color: var(--collectingcolor-gray);
}
.deckspecial {
    background-color: var(--collectingcolor-special);
}
.deckCOLORNOTFOUND {
    background-color: none;
}
.deckdiv {
    display: inline-block;
    margin: 5px;
}
.deckimgdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 275px;
}
.deckheader {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 5px;
}
.decklink {
    text-align: center;
    font-size: 15px;
    margin: 0;
}
.neededdeckcolumn {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    min-width: 90px;
}

#fullsetisocontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#singlecardscontainer,
#neededdeckscontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

/* -------------------------------------------------------- */
/* CREDITS */
/* -------------------------------------------------------- */
#creditscontainer {
    margin-top: 20px;
    font-size: 0.8em;
}

#creditscontainer a {
    color: var(--creditslink);
}

#creditscontainer a:hover {
    color: var(--linkhovercolor);
}

/* -------------------------------------------------------- */
/* CARD DISPLAY FLEX FIX */
/* -------------------------------------------------------- */
#newcardscontainer,
#fullcollectioncontainer > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-content: center;
}

/* -------------------------------------------------------- */
/* FULL COLLECTION */
/* -------------------------------------------------------- */
#fullcollectioncontainer > div {
    margin-top: 10px;
}

/* -------------------------------------------------------- */
/* LOGS */
/* -------------------------------------------------------- */
time {
    color: var(--pagecontentaccentcolor);
    text-decoration: underline;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
}

/* -------------------------------------------------------- */
/* MOBILE RESPONSIVENESS */
/* -------------------------------------------------------- */

@media screen and (max-width: 900px) {
    #sitecontainer {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
}
