:root {
    /* general colors */
    --websitebackgroundcolor: #879d6d;
    --backgroundimage: url(../img/light_mode_bg.png);
    --pagecontentmaincolor: #e9ecdb;
    --pagecontentaccentcolor: #4e6137;
    --pageoutline: rgba(74, 118, 58, 0.46);

    --navbuttoncolor: #4e6137;
    --navbuttontext: white;

    --textcolor: #16190f;
    --linkhovercolor: #475407;
    --linkcolor: #9a5b1a;

    /* collecting page header/deck colors */
    --collectingcolor-red: #ffdbdb;
    --collectingcolor-orange: #ffeee2;
    --collectingcolor-yellow: #fcfade;
    --collectingcolor-green: #e2fce6;
    --collectingcolor-blue: #dff2fd;
    --collectingcolor-purple: #e3e3ff;
    --collectingcolor-brown: #e9d4b7;
    --collectingcolor-gray: #d4d4d4;
    --collectingcolor-special: white;

    @media (prefers-color-scheme: dark) {
        /* general colors */
        --websitebackgroundcolor: #211f1f;
        --backgroundimage: url(../img/dark_mode_bg.png);
        --pagecontentmaincolor: #191717;
        --pagecontentaccentcolor: #778d60;
        --pageoutline: rgba(74, 118, 58, 0.15);

        --navbuttoncolor: #778d60;
        --navbuttontext: #000000;

        --textcolor: #f4f4f4;
        --linkhovercolor: #e2ae50;
        --linkcolor: #a8d38d;

        /* collecting page header/deck colors */
        --collectingcolor-red: #3b2e2e;
        --collectingcolor-orange: #433b35;
        --collectingcolor-yellow: #595634;
        --collectingcolor-green: #3a5c40;
        --collectingcolor-blue: #2b4452;
        --collectingcolor-purple: #29294c;
        --collectingcolor-brown: #312718;
        --collectingcolor-gray: #333333;
        --collectingcolor-special: #0f0f0f;
    }
}

@font-face {
    font-family: "Nunito";
    font-display: swap;
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

/* DO NOT CHANGE BELOW UNLESS YOU KNOW WHAT YOU'RE DOING */

/* GENERAL */
body {
    background-color: var(--websitebackgroundcolor);
    font-family: "Nunito";
    font-size: 1rem;
    color: var(--textcolor);
    /* background image instead of color */
    background-image: var(--backgroundimage);
}

* {
    box-sizing: border-box;
    margin: 0;

    &:focus-visible {
        outline-color: skyblue !important;
        outline-offset: -1px !important;
        outline-style: solid !important;
        outline-width: 3px !important;
        border-color: transparent;
    }
}

a img:focus {
    opacity: 0.8;
    filter: none;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
}

html {
    position: relative;
}

html,
body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

h1 {
    color: var(--textcolor);
    margin-bottom: 10px;
}

bold,
b,
strong {
    color: var(--pagecontentaccentcolor);
}

a {
    color: var(--linkcolor);
    transition: 0.5s;
}
a:hover {
    color: var(--linkhovercolor);
}

hr {
    border: 1px solid var(--pagecontentaccentcolor);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fcol {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
    margin: auto;
}
.spaceevenly {
    justify-content: space-evenly;
}
.tleft {
    text-align: left;
}
.section {
    margin: 5px;
}
.marginimage {
    margin: 5px;
}
.cardimage {
    margin: 0;
}

#middle {
    min-height: 500px;
    width: 900px;
    padding: 10px;
    background-color: var(--pagecontentmaincolor);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 6px 6px 0 var(--pageoutline);
}

/* HEADER */
#websiteheader {
    margin-bottom: 20px;
}
.navbutton {
    color: var(--navbuttontext);
    background-color: var(--navbuttoncolor);
    text-decoration: none;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.navbutton:hover {
    color: var(--navbuttontext);
    background-color: var(--linkhovercolor);
    letter-spacing: 2px;
}

/* HOME PAGE */
#avatar {
    width: 80px;
}
.portfoliobutton {
    border: none;
    background-color: transparent;
}
.portfoliohidden {
    background-color: var(--pagecontentmaincolor);
    width: 110px;
    border: 1px solid var(--pagecontentaccentcolor);
    position: absolute;
    display: none;
    text-align: left;
}
.pendingsection {
    margin: 5px;
    margin-top: 0;
}
#crayonscontainer {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}
.crayoncount {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5px;
}

/* COLLECTING PAGE */
.deckred {
    background-color: var(--collectingcolor-red);
}
.deckorange {
    background-color: var(--collectingcolor-orange);
}
.deckyellow {
    background-color: var(--collectingcolor-yellow);
}
.deckgreen {
    background-color: var(--collectingcolor-green);
}
.deckblue {
    background-color: var(--collectingcolor-blue);
}
.deckpurple {
    background-color: var(--collectingcolor-purple);
}
.deckbrown {
    background-color: var(--collectingcolor-brown);
}
.deckgray {
    background-color: var(--collectingcolor-gray);
}
.deckspecial {
    background-color: var(--collectingcolor-special);
}
.deckCOLORNOTFOUND {
    background-color: none;
}
.deckdiv {
    display: inline-block;
    margin: 5px;
}
.deckimgdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 275px;
}
.deckheader {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 5px;
}
.decklink {
    text-align: center;
    font-size: 15px;
    margin: 0;
}
.neededdeckcolumn {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    min-width: 90px;
}

#creditscontainer {
    margin-top: 20px;
    font-size: 0.8em;
}
