@import "./style.css";

.intro-image {
    margin-top: 5px;
    display: flex;
    border-radius: 10px;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.intro-image img {
    align-self: flex-start;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin-top: -25%;
}

.full-intro {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.recipe-descrip {
    flex: 30%;
    background-color: var(--body-deco);
    padding: 10px;
    border-radius: var(--border-radius);
}

.recipe-intro {
    flex: 70%;
    margin-top: 10px;
}
