@font-face {
    font-family: "freepixel";
    src: url(../Fonts/FreePixel.ttf);
}

* {
    background-color: inherit;
    color: inherit;
}

:root {
    --text: #7c8070;
}

/* -------------------------------------------------------- */
/* SCROLLBAR STYLING */
/* -------------------------------------------------------- */

::selection {
    color: #fff;
    background: #788b68;
}
/* --- */

body {
    background-color: none;
    color: var(--text);
    font-size: 1em;
}

.feed-container {
    font-size: 0.75em;
    font-family: "freepixel", "Arial";
    letter-spacing: normal;
    overflow-y: scroll;
}

.feed-container a {
    color: #788b68;
    transition: 0.5s;
    text-decoration: none;
}

.feed-container a:hover {
    color: #fff;
}

.feed-container .item {
    border-bottom: 1px dotted #788b68;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.feed-container .title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.feed-container .pubDt {
    opacity: 0.5;
    margin-top: 3px;
    font-size: 0.8em;
}
