:root {
    /* SIZES + SPACING */
    --blog-size: 1100px;
    --grid-gap: 13px;
    --left-sidebar-size: 250px;
    --right-sidebar-size: 220px;
    --border-radius: 5px;

    --light: #e9ecdb;
    --dark: #211f1f;

    /* Colors and fonts */
    /* HEADERS */
    --header-bg: #211f1f;
    --background-image: url(../img/light_mode_bg.png);
    --header-title: #e8f4dd;
    --header-subtitle: #c8d7a8;

    /* BACKGROUNDS */
    --background-colour: #879d6d;
    --article-bg: #e9ecdb;
    --article-liner: rgba(74, 118, 58, 0.46);

    /* PRIMARY ACCENTS */
    --primary-accent: #4e6137;
    --secondary-accent: #73582f;
    --font-on-accent: #f3f4e0;
    --letter-glow: rgba(8, 30, 1, 0.19);

    /* TEXT */
    --text-colour: #16190f;
    --link-colour: #9a5b1a;
    --link-hover: #475407;
    --body-deco: #f7f6e3;

    @media (prefers-color-scheme: dark) {
        /* HEADERS */
        --header-bg: #211f1f;
        --header-title: #edf4dd;
        --header-subtitle: #bdd7a8;

        /* BACKGROUNDS */
        --background-colour: #211f1f;
        --background-image: url(../img/dark_mode_bg.png);
        --article-bg: #191717;
        --article-liner: rgba(74, 118, 58, 0.15);

        /* PRIMARY ACCENTS */
        --primary-accent: #788b68;
        --secondary-accent: #cee8ba;
        --font-on-accent: #000000;
        --letter-glow: rgba(74, 118, 58, 0.46);

        /* TEXT */
        --text-colour: #f4f4f4;
        --link-colour: #a8d38d;
        --link-hover: #e2ae50;
        --crossed-out: #858585;
        --body-deco: #211f1f;
    }
}

@font-face {
    font-family: "venice";
    src: url(../fonts/VeniceClassic.ttf);
}
@font-face {
    font-family: "freepixel";
    src: url(../fonts/FreePixel.ttf);
}
@font-face {
    font-family: "dosis";
    src: url(../fonts/Dosis-VariableFont_wght.ttf);
}
@font-face {
    font-family: "atkinson";
    src: url(../fonts/AtkinsonHyperlegible-Regular.ttf);
}

@font-face {
    font-family: "open dyslexic";
    src: url(../fonts/OpenDyslexic-Regular.otf);
}

@font-face {
    font-family: "intel one";
    src: url(../fonts/IntelOneMono-Regular.ttf);
}

/* -------------------------------------------------------- */
/* BASICS */
/* -------------------------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
    body {
        font-weight: lighter !important;
    }
}

html,
body {
    padding: 0;
    margin: 0;
}

/* affects everything */
body {
    height: 100%;
    font-size: 1rem;
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family:
        "freepixel",
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        Adwaita Sans,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        helvetica,
        arial,
        sans-serif;
    line-height: 1.3em;
    letter-spacing: 0;
    background-image: var(--background-image);
    background-attachment: fixed;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=186458), auto;
}

section,
article {
    background-color: var(--article-bg);
    border-radius: var(--border-radius);
    padding: 1em;
    box-shadow: 6px 6px 0 var(--article-liner);
}

/* -------------------------------------------------------- */
/* GRID LAYOUT */
/* -------------------------------------------------------- */

.container-grid {
    margin-left: 50px;
    display: grid;
    grid-gap: var(--grid-gap);
    width: var(--blog-size);
    grid-template-columns:
        fit-content(var(--left-sidebar-size))
        1fr
        fit-content(var(--right-sidebar-size));
    margin-bottom: 50px;
}

aside {
    max-width: var(--right-sidebar-size);
}

.intro {
    max-width: var(--left-sidebar-size);
}

/* --------------------------------------------------------- */
/* DECORATIVE ELEMENTS */
/* --------------------------------------------------------- */

h1 {
    background-color: var(--primary-accent);
    /*background-image: url(https://sadhost.neocities.org/images/tiles/bg_bluewhiteflowers.gif);*/
    color: var(--font-on-accent);
    font-family: "dosis";
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    background-color: var(--primary-accent);
    /*background-image: url(https://sadhost.neocities.org/images/tiles/bg_bluewhiteflowers.gif);*/
    color: var(--font-on-accent);
    font-family: "dosis";
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

h3 {
    font-family: "dosis";
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px dotted var(--secondary-accent);
    text-decoration-color: var(--secondary-accent);
}

hr {
    border: 0;
    border-bottom: 1px dotted var(--secondary-accent);
}

bold,
b,
strong {
    color: var(--primary-accent);
    font-weight: normal;
    text-transform: uppercase;
}

italics,
i,
em {
    color: var(--secondary-accent);
}

underline,
u {
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(120, 139, 104, 0.71);
}

s,
strikethrough {
    opacity: 0.8;
}

mark {
    color: var(--text-colour);
    background-color: var(--letter-glow);
}

.highlight {
    background-color: var(--primary-accent);
    border-radius: var(--border-radius);
    color: var(--font-on-accent);
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
}

.subtle {
    font-family: "atkinson";
    line-height: 1.1em;
    font-size: 0.8em;
    opacity: 0.8;
}

h4 {
    background-color: var(--primary-accent);
    /*background-image: url(https://sadhost.neocities.org/images/tiles/bg_bluewhiteflowers.gif);*/
    color: var(--font-on-accent);
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
    font-family: "dosis";
    text-shadow: 1px 1px rgba(19, 40, 12, 0.25);
    font-size: 1.2rem;
}

.subtitle {
    background-color: var(--primary-accent);
    /*background-image: url(https://sadhost.neocities.org/images/tiles/bg_bluewhiteflowers.gif);*/
    color: var(--font-on-accent);
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "dosis";
    text-shadow: 1px 1px rgba(19, 40, 12, 0.25);
    font-size: 1.2rem;
}

blockquote {
    padding: 10px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-left-color: var(--primary-accent);
    border-left-width: 3px;
    border-left-style: solid;
    border-right-color: var(--primary-accent);
    border-right-width: 3px;
    border-right-style: solid;
    background-color: var(--body-deco);
}

abbr,
.tippy {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--link-hover);
    cursor: pointer;
}

summary {
    font-size: 1em;
    color: var(--secondary-accent);
    text-decoration: underline;
    text-decoration-style: double;
    padding: 5px;
    margin-bottom: 5px;
}

details {
    background-color: var(--body-deco);
    border-radius: var(--border-radius);
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    border-left: 5px solid var(--secondary-accent);
}

.columns {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: baseline;
}

.column {
    flex: 50%;
}

/* Link styling */

.intro a,
article a,
aside a,
footer a {
    color: var(--link-colour);
    text-decoration-color: var(--link-colour);
    transition: 0.2s;
    text-decoration-thickness: 1px;
}

article a img {
    line-height: 0;
}

article aside {
    width: 30%;
    border-top: 3px solid var(--primary-accent);
    border-bottom: 3px solid var(--primary-accent);
    background-color: var(--body-deco);
    padding: 20px 10px;
    margin: 10px;
    float: right;
}

.intro a:hover,
article a:hover,
aside a:hover {
    color: var(--link-hover);
    text-decoration-color: var(--link-hover);
    text-decoration-thickness: 2px;
}

.intro img a {
    cursor: pointer;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* WARNING / INFO BANNERS */
.warningwrapper {
    width: auto;
    border-radius: var(--border-radius);
    padding: 13px;
}

.danger {
    background-color: #c7755f;
    color: black;
}

.warning {
    background-color: #eac556;
    color: black;
}

.info {
    background-color: #ecb24e;
    color: black;
}

.success {
    background-color: #d5d88a;
    color: black;
}

.success i,
.success b,
.info i,
.info b,
.warning i,
.warning b,
.danger i,
.danger b {
    color: black;
}

:target {
    scroll-margin: 30px;
}

/* -------------------------------------------------------- */
/* SCROLLBAR STYLING */
/* -------------------------------------------------s------- */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-accent) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    border: 3px double var(--primary-accent);
}

::selection {
    color: #fff;
    background: var(--primary-accent);
}

/* -------------------------------------------------------- */
/* TIPPY STYLING */
/* -------------------------------------------------------- */

.tippy-tooltip.character-theme {
    color: var(--font-on-accent);
    letter-spacing: 1px;
    font-size: 1em;
    font-family: "atkinson";
    background: var(--primary-accent);
    box-shadow:
        rgba(0, 0, 0, 0.16) 0 10px 36px 0,
        rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

.tippy-tooltip.character-theme[data-placement^="top"] .tippy-arrow {
    border-top-color: var(--primary-accent);
}
.tippy-tooltip.character-theme[data-placement^="bottom"] .tippy-arrow {
    border-bottom-color: var(--primary-accent);
}
.tippy-tooltip.character-theme[data-placement^="left"] .tippy-arrow {
    border-left-color: var(--primary-accent);
}
.tippy-tooltip.character-theme[data-placement^="right"] .tippy-arrow {
    border-right-color: var(--primary-accent);
}

/* -------------------------------------------------------- */
/* ACCORDION */
/* -------------------------------------------------------- */

.accordion-container {
    position: absolute;
    left: calc(var(--blog-size) + 68px);
    padding-top: 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-family: "freepixel", sans-serif;
    display: block;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: var(--border-radius);
    background-color: var(--background);
    color: var(--text);
}

.active,
.accordion:hover,
.accordion:focus {
    background-color: var(--article-bg);
}

.accordion:before {
    content: "\002B";
    color: var(--secondary-accent);
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.accordion .active:before {
    content: "\2212";
}

.panel {
    display: block;
    text-align: left;
    font-size: 0.75em;
    padding: 0 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 5px;
}

.panel a {
    color: var(--secondary-accent);
    transition: 0.5s;
}

.panel a:hover {
    color: var(--link);
}

.panel ul {
    list-style: square;
}

.panel li {
    margin-bottom: 5px;
}

.panel li::marker {
    color: var(--secondary-accent);
}

/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

header {
    max-width: 100hv;
    align-content: center;
}

header {
    align-content: center;
    text-align: center;
    height: 200px;
    background-color: var(--header-bg);
    background-image: url("../img/websiteBanner.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: fixed;
}

header .title,
header .subtext {
    width: var(--blog-size);
    position: relative;
    top: 45px;
}

header .title {
    font-family: "venice";
    color: var(--header-title);
    height: 30px;
    letter-spacing: 5px;
    font-size: 2em;
    text-transform: lowercase;
}

header .subtext {
    color: var(--header-subtitle);
    height: 23px;
    font-size: 0.8em;
    text-transform: lowercase;
}

/* -------------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------------- */

nav {
    background-color: var(--primary-accent);
    color: var(--font-on-accent);
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 20px;
}
nav > button {
    min-width: 44px;
    min-height: 24px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border: 0;
    background-color: var(--primary-accent);
    color: var(--font-on-accent);
    font-size: 2.5rem;
}
nav ul {
    display: none;
    margin: 0;
    padding: 0;
    background-color: var(--primary-accent);
    color: var(--font-on-accent);
    list-style: none;
    text-transform: uppercase;
}
nav ul ul {
    background-color: var(--article-bg);
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px;
    color: var(--text-colour);
    text-transform: lowercase;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
nav ul ul a {
    color: var(--text-colour);
}
nav ul.show {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
}
nav a {
    min-width: 44px;
    min-height: 24px;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    transition: background-color 150ms ease-in-out;
    color: var(--font-on-accent);
    text-decoration: none;
}
nav a:hover {
    background-color: var(--secondary-accent);
    color: var(--font-on-accent);
}
nav li {
    padding: 0.2rem;
}
nav li.dropdown {
    position: relative;
}
nav li.dropdown > a::after {
    content: "▼";
    display: block;
    margin-left: 0.5rem;
    transition: transform 250ms linear;
    font-size: 0.5em;
}
nav li.dropdown > a[aria-expanded="true"]::after {
    transform: rotate(-180deg);
}
nav li.dropdown ul a {
    padding-left: 1.25rem;
}
nav li.dropdown ul li.dropdown ul a {
    padding-left: 2rem;
}

.button-wrapper label {
    color: var(--font-on-accent);
    margin-top: auto;
    margin-bottom: auto;
}

.button-wrapper select {
    background-color: var(--article-bg);
    color: var(--font-colour);
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    height: 30px;
    width: 200px;
    border-radius: var(--border-radius);
}

@media screen and (min-width: 800px) {
    nav button {
        display: none;
    }
    nav li {
        padding: 0;
    }
    nav > ul,
    nav > ul.show {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
    }
    nav .dropdown ul.show {
        position: absolute;
    }
    nav .dropdown ul ul {
        top: 0;
        left: 100%;
    }
    nav ul ul {
        max-width: max-content;
        min-width: 175px;
    }
    nav ul ul li {
        min-width: 175px;
    }
    nav ul {
        text-align: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: var(--blog-size);
    }
}

/* -------------------------------------------------------- */
/* LEFT SIDEBAR (COLUMN ONE) */
/* -------------------------------------------------------- */

.intro {
    margin-top: 20px;
    grid-column: 1;
    height: fit-content;
    position: sticky;
    top: 75px;
    align-content: center;
}

/* Site Button: */

.site-button {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-button a {
    text-decoration: none;
}

.site-button textarea {
    font-family: monospace;
    font-size: 0.75em;
    width: 100%;
}

/* -------------------------------------------------------- */
/* RIGHT SIDEBAR (COLUMN ONE) */
/* -------------------------------------------------------- */

aside {
    margin-top: 20px;
    grid-column: 3;
}

.feeder {
    height: 540px !important;
}

/* -------------------------------------------------------- */
/* SIDEBAR CONTENTS */
/* -------------------------------------------------------- */

section {
    position: relative;
    padding: 15px;
    width: auto;
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Scrollable section for updates */
section .scrollable {
    font-size: 0.75rem;
    height: 100px;
    background-color: var(--body-deco);
    border-radius: var(--border-radius);
    overflow-y: scroll;
    padding: 7px;
    margin-top: 10px;
}

section .scrollable p {
    margin-top: 0;
}

section .full-width-image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
}

/* -------------------------------------------------------- */
/* SIDEBAR LINKS */
/* -------------------------------------------------------- */

.links {
    list-style-type: none;
    padding-left: 0;
}

.links li {
    text-align: center;
    margin-bottom: 5px;
    transition: 0.5s ease-in-out;
    display: block;
}

.links li a {
    background-color: var(--primary-accent);
    border-radius: var(--border-radius);
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    color: var(--font-on-accent);
    font-size: 0.9rem !important;
    display: block;
    transition: 0.5s ease-in-out;
}

.links li a:hover {
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--font-on-accent);
    font-size: 1rem !important;
    background-color: var(--link-hover);
}

.links li:last-child > a {
    margin-bottom: 0;
}

/* -------------------------------------------------------- */
/* MAIN CONTENT */
/* -------------------------------------------------------- */

main {
    grid-column: 2;
}

/* -------------------------------------------------------- */
/* ARTICLES WITHIN MAIN BODY */
/* -------------------------------------------------------- */

article {
    margin-bottom: 20px;
    width: auto;
    /*min-width: calc(
        var(--blog-size) - (var(--left-sidebar-size) + var(--right-sidebar-size)) - (calc(var(--grid-gap) * 2))
    );*/ /* literally the px number is just grip-gap x2 */
    max-width: calc(
        var(--blog-size) - (var(--left-sidebar-size) - (calc(var(--grid-gap) * 1)))
    ); /* literally the px number is just grip-gap x2 */
}

article button {
    width: 100%;
    padding: 8px;
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-accent);
    background-color: var(--article-bg);
    transition: 0.3s;
    color: var(--text-colour);
}

article .tab button {
    width: fit-content !important;
}

article .tab button:hover {
    border: none;
}

article button:hover {
    background-color: var(--body-deco);
    border: 2px solid var(--secondary-accent);
}

article p:last-child {
    margin-bottom: 0;
}

article p:first-child {
    margin-top: 0;
}

article ul {
    line-height: 1.2rem;
    list-style-type: square;
}

article ul ul {
    border-left: 1px solid rgba(from var(--secondary-accent) r g b / 50%);
    border-radius: 0 0 0 10px;
    padding-left: 2.3rem;
    margin-left: -0.8rem;
}

article ul ul li::marker {
    color: var(--primary-accent);
}

article li {
    padding-top: 3px;
    padding-bottom: 3px;
}

article li::marker {
    color: var(--secondary-accent);
}

/* Checkmark List Type for To-Do */
article .checkbox ul {
    list-style: none;
    padding-left: 40px;
    text-indent: -3ch;
}

article .checkbox ul li:before {
    content: "\2610";
    padding-right: 10px;
}

/* Checkbox List Type for Done To-Do */
/* Checkmark List Type for To-Do */
article .checkboxdone ul {
    list-style: none;
    padding-left: 40px;
    text-indent: -3ch;
}

article .checkboxdone li {
    color: var(--crossed-out);
}

article .checkboxdone ul li:before {
    content: "✓";
    color: #858585;
    padding-right: 10px;
}

article .scrollable {
    height: 250px;
    background-color: var(--body-deco);
    border-radius: var(--border-radius);
    overflow-y: scroll;
    padding: 7px;
    margin-top: 10px;
}

article .scrollable p:first-child {
    margin-top: 0;
}

.intro .home {
    color: var(--secondary-accent);
    display: block;
    width: 96%;
    background-color: var(--body-deco);
    border-radius: var(--border-radius);
    padding: 12px;
    margin: 5px;
    border-left: 5px solid var(--secondary-accent);
}

/* -------------------------------------------------------- */
/* TABS */
/* -------------------------------------------------------- */

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    color: var(--font-on-accent);
    background-color: var(--primary-accent);
    font-family: inherit;
    font-size: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: var(--border-radius);
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--secondary-accent);
}

.tab button:focus {
    box-shadow: inset 0 0 0 5px var(--link-colour);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--secondary-accent);
}

/* Style the tab content */
.tabcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px 12px;
    border-top: none;
    margin-top: -15px;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.align-items-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
}

/* Style the tab content */
.tabAltcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabAltcontent img {
    margin: 2.5px;
}

.interest-content ul {
    padding: 0;
    list-style: none;
}

.interest-content li {
    display: inline;
    line-height: 1.5em;
}

.interest-content li:after {
    content: " -";
    color: var(--secondary-accent);
}

.interest-content ul li:first-child {
    padding-left: 0;
}

.interest-content ul li:last-child {
    padding-right: 0;
}

.interest-content ul li:last-child:after {
    content: "";
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.blogContent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.blogLink {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    color: var(--link-colour);
    text-decoration: underline;
    cursor: pointer;
}

.blogLink:hover {
    color: var(--link-hover);
    text-decoration-thickness: 2px;
}

.bloglink.active {
    color: white !important;
}

/* -------------------------------------------------------- */
/* CONTENT IMAGES */
/* -------------------------------------------------------- */

.image {
    display: block;
    width: auto;
    height: auto;
}

.full-width-image {
    display: block;
    width: 100%;
    height: auto;
}

.center-img {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.lazy-flex-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.lazy-flex-images a {
    text-decoration: none;
    line-height: 0;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% + 5px + 5px);
    margin-left: -5px;
    margin-right: -5px;
}

.images img {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

/* -------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    padding: 5px;
    min-width: 100%;
    background-color: var(--article-bg);
    font-size: 0.75em;
}

footer a:hover {
    color: var(--link-hover);
}

/* -------------------------------------------------------- */
/* FLEX LAYOUT (not used rn) */
/* -------------------------------------------------------- */

.container-flex {
    display: flex;
    /* allow items to wrap into the next line(s): */
    flex-wrap: wrap;
    /* horizontal alignment of items: */
    justify-content: center;
    /* vertical alignment of items: */
    align-items: center;
}

.item {
    flex-shrink: 0; /* disallow items from shrinking */
    flex-grow: 1; /* allow items to grow */
    flex-basis: 100px; /* sets initial size of items */

    /* or... */

    flex: 1 0 100px;
    /* shortcut for flex-shrink, flex-grow, flex-basis */
}

/* -------------------------------------------------------- */
/* ACCESSIBILITY */
/* -------------------------------------------------------- */

/* please do not remove this. */

#skip-to-content-link {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    line-height: 1;
    font-size: 1.25rem;
    background-color: var(--content-background-color);
    color: var(--text-colour);
    transform: translateY(-3rem);
    transition: transform 0.1s ease-in;
    z-index: 99999999999;
}

#skip-to-content-link:focus,
#skip-to-content-link:focus-within {
    transform: translateY(0);
}

/* -------------------------------------------------------- */
/* MOBILE RESPONSIVENESS */
/* -------------------------------------------------------- */

@media screen and (max-width: 800px) {
    .container-grid {
        display: flex;
        flex: 100%;
        flex-direction: column;
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    .hide-mobile {
        display: none !important;
        visibility: hidden !important;
    }

    .columns {
        flex-direction: column;
    }

    .column {
        flex: 1 1 100% !important;
        min-width: 100%;
    }

    .accordion {
        display: none;
    }

    .panel {
        display: none;
    }

    header {
        height: 140px;
    }

    header .title,
    header .subtext {
        width: auto;
        position: relative;
        top: 0;
    }

    .image-gallery div {
        width: calc(33% - 10px) !important;
        overflow: hidden;
    }

    .intro {
        position: inherit; /* disable the sticky */
        width: auto;
        max-width: 100%;
    }

    aside {
        position: inherit !important; /* disable the sticky */
        width: auto !important;
        max-width: 100%;
    }

    .intro,
    aside,
    main {
        grid-column: auto;
        grid-row: auto;
    }

    .feeder {
        height: 200px;
        top: 75px;
    }

    section,
    article {
        box-shadow: none;
    }

    .dendro {
        display: none;
    }

    .intro img {
        max-width: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #img-load {
        max-width: 200px !important;
        margin-left: auto;
        margin-right: auto;
    }

    aside {
        width: auto;
        max-width: 100%;
    }

    header,
    footer,
    header .title,
    header .subtext {
        flex-direction: column;
        flex: 100%;
    }

    article {
        width: auto;
    }

    footer {
        height: 60px;
        text-align: center;
    }

    .image {
        max-width: 95%;
    }

    img {
        max-width: 100%;
    }

    .side-deco {
        display: none;
    }

    article .columns {
        flex-direction: column;
    }

    article .scrollable {
        height: fit-content;
        max-height: 400px;
    }

    /* Items */
    .image-gallery div {
        width: calc(50% - 10px);
    }

    article aside {
        width: 100%;
        float: none;
    }

    /* -------------------------------------------------------- */
    /* FONT TOGGLE */
    /* -------------------------------------------------------- */
    .button-wrapper {
        float: left !important;
        position: sticky;
        margin: 0;
        top: 0;
        left: 7px;
        margin-top: 4px !important;
        width: fit-content;
        height: 100%;
    }

    .clock {
        display: none;
    }

    #zhongvie-stamps {
        min-width: 100%;
    }
}

/* -------------------------------------------------------- */
/* SCROLL TO TOP */
/* -------------------------------------------------------- */
#backscroll {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--primary-accent); /* Set a background color */
    color: var(--font-on-accent); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: var(--border-radius); /* Rounded corners */
    font-size: 1.1rem; /* Increase font size */
    font-family: "atkinson";
    transition: 0.5s;
}

#backscroll:hover {
    background-color: var(--secondary-accent); /* Add a dark-grey background on hover */
}

/* -------------------------------------------------------- */
/* ACCESSIBILITY */
/* -------------------------------------------------------- */
.asw-menu-btn {
    right: 20px !important;
}

/* -------------------------------------------------------- */
/* PRELOADER */
/* -------------------------------------------------------- */

#preloader {
    background: var(--primary-accent) url("../img/hearts.svg") no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    pointer-events: none;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    display: block;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#preloader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

#preloader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

/* -------------------------------------------------------- */
/* FONT TOGGLE */
/* -------------------------------------------------------- */
.button-wrapper {
    position: sticky;
    top: 2px;
    float: right;
    right: 7px;
    z-index: 9;
    margin-top: 2px;
    display: flex;
    gap: 10px;
    height: 100%;
}

.button button {
    font-size: 1em;
    font-family: inherit;
    color: var(--font-on-accent);
    width: fit-content;
    height: 40px;
    padding: 5px 10px;
    background-color: var(--primary-accent);
    border: 2px solid var(--link-colour);
    border-radius: var(--border-radius);
    transition: 0.5s;
}

.button button:hover {
    background-color: var(--link-hover);
    color: var(--font-on-accent);
    box-shadow:
        0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* -------------------------------------------------------- */
/* MISC. CSS ITEMS */
/* -------------------------------------------------------- */

/* Zhongvie Corner Deco */
.side-deco {
    max-width: 300px;
    height: auto;
    float: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.hover-grow a img {
    transition: transform 0.2s ease-in-out; /* Animation */
}

.hover-grow a img:hover {
    transform: scale(1.1);
}

#quizzes {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 800px) {
    #quizzes {
        grid-template-columns: 100%;
    }
}

/* Status Cafe
.feed-container {
    background-color: var(--body-deco);
    font-size: 0.75em;
    font-family: "freepixel", "Courier";
    letter-spacing: normal;
    overflow-y: scroll;
}

.feed-container a {
    color: var(--secondary-accent);
    transition: 0.5s;
    text-decoration: none;
}

.feed-container a:hover {
    color: var(--link-hover);
}

.feed-container .item {
    border-bottom: 1px dotted var(--secondary-accent);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.feed-container .title {
    font-size: 0.75rem;
    margin-bottom: 3px;
}

.feed-container .pubDt {
    opacity: 0.8;
    font-size: 0.8em;
}
*/

/* Button Layout */
.cool-buttons {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
}

.cool-buttons img {
    width: min-content;
}

.cool-buttons a {
    text-decoration: none;
}

/* Marquee Replacement */

.marquee-wrapper {
    width: 100%;
    height: 50px;
    overflow: hidden;
    padding-top: 10px;
}

#zhongvie-stamps {
    margin-top: -7px;
    overflow: hidden;
    max-width: 572px;
}

#zhongvie-stamps img {
    height: 100%;
    width: auto;
}

.marquee-guts {
    padding-top: 10px;
}
.marquee-guts .marquee-guts {
    background: #f0f4;
}

/* Image Decorative (for body mostly) */

.image-deco {
    display: inline-flexbox;
    width: auto;
    height: auto;
    max-width: 100%;
    float: left;
}

.image-deco img {
    padding: 3px;
    border-radius: var(--border-radius);
    border: 3px solid var(--primary-accent);
    max-width: 200px;
    transition: 0.5s;
}

.image-deco a img:hover {
    border: 3px solid var(--secondary-accent);
}

/* Gallery Alt */
/* Wrapper */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Items */
.image-gallery div {
    margin: 5px;
    box-sizing: border-box;
    width: calc(25% - 10px);
    border: 5px solid var(--primary-accent);
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease;
}

/* Images */
.image-gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    aspect-ratio: 1/1;
}

/* Captions */
.image-gallery div span {
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background: var(--background-colour);
    color: white;
    padding: 5px 10px;
    font-size: 1em;
    opacity: 0;
    transform: translateY(100px);
    transition:
        transform 0.4s ease,
        opacity 0.5s ease;
}

/* Images on Hover */
.image-gallery div:hover img {
    transform: scale(1.15) rotate(10deg);
}

/* Captions on Hover */
.image-gallery div:hover span {
    opacity: 1;
    transform: none;
}

/* Dendro Image on Sidebar: */

.dendro {
    float: left;
    position: absolute;
    left: -40px;
    top: -40px;
    transform: rotate(-25deg);
}

/* Img Shadows */
.img-box img {
    box-shadow: 2px 2px var(--primary-accent);
}

/* -------------------------------------------------------- */
/* ANIMATIONS */
/* -------------------------------------------------------- */

/* Floating Animation */
.img-floatinganim {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Tilt and Grow Easy CSS */

.tilt-hover {
    transition: 0.2s ease-in-out;
}

.tilt-hover:hover {
    transform: rotate(-15deg);
}

.grow-hover {
    transition: 0.2s ease-in-out;
}

.grow-hover:hover {
    transform: scale(1.05);
}

.lift-hover a img {
    transition: 0.3s ease-in-out;
    position: relative;
    top: 0;
}

.lift-hover a img:hover {
    top: -5px;
}

/* Heart Hover */

.img-hearthover {
    transition: all 0.5s;
    display: block;
    -webkit-mask-image: url(https://dl.dropbox.com/s/2kih8ox9q2czjeg/pngfind.com-kawaii-transparent-png-621355.png);
    mask-image: url(https://dl.dropbox.com/s/2kih8ox9q2czjeg/pngfind.com-kawaii-transparent-png-621355.png);
    -webkit-mask-size: 220%;
    mask-size: 250%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.img-hearthover:hover {
    transition: all 0.5s;
    -webkit-mask-image: url(https://dl.dropbox.com/s/2kih8ox9q2czjeg/pngfind.com-kawaii-transparent-png-621355.png);
    mask-image: url(https://dl.dropbox.com/s/2kih8ox9q2czjeg/pngfind.com-kawaii-transparent-png-621355.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

/* Homebrew CSS */
.HBRarrow {
    max-width: 20px;
}
