:root {
    /* HEADERS */
    --header-bg: #211f1f;
    --header-title: #edf4dd;
    --header-subtitle: #bdd7a8;

    /* BACKGROUNDS */
    --background-colour: #211f1f;
    --article-bg: #191717;

    /* PRIMARY ACCENTS */
    --primary-accent: #788b68;
    --secondary-accent: #cee8ba;
    --letter-glow: rgba(74, 118, 58, 0.15);

    /* TEXT */
    --text-colour: #f4f4f4;
    --link-colour: #a8d38d;
    --link-hover: #e2ae50;
    --crossed-out: #858585;

    /* SIZES + SPACING */
    --blog-size: 1100px;
    --grid-gap: 13px;
    --left-sidebar-size: 250px;
    --right-sidebar-size: 220px;
    --border-radius: 5px;
}

@font-face {
    font-family: "venice";
    src: url(Fonts/VeniceClassic.ttf);
}
@font-face {
    font-family: "freepixel";
    src: url(Fonts/FreePixel.ttf);
}
@font-face {
    font-family: "dosis";
    src: url(Fonts/Dosis-VariableFont_wght.ttf);
}
@font-face {
    font-family: "atkinson";
    src: url(Fonts/AtkinsonHyperlegible-Regular.ttf);
}

/* -------------------------------------------------------- */
/* BASICS */
/* -------------------------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 1rem;
}

html,
body {
    padding: 0;
    margin: 0;
}

/* affects everything */
body {
    height: 100%;
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family: "freepixel";
    line-height: 1.3rem;
    letter-spacing: 0;
    background-image: url(https://i.imgur.com/j5DXHGi.png);
}

.accessible-font {
    font-family: "Arial";
}

section,
article {
    background-color: var(--article-bg);
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: 6px 6px 0 var(--letter-glow);
}

/* -------------------------------------------------------- */
/* GRID LAYOUT */
/* -------------------------------------------------------- */

.container-grid {
    margin-left: 50px;
    display: grid;
    grid-gap: var(--grid-gap);
    width: var(--blog-size);
    grid-template-columns:
        fit-content(var(--left-sidebar-size))
        1fr
        fit-content(var(--right-sidebar-size));
    margin-bottom: 50px;
}

aside {
    max-width: var(--right-sidebar-size);
}

.intro {
    max-width: var(--left-sidebar-size);
}

/* -------------------------------------------------------- */
/* DECORATIVE ELEMENTS */
/* -------------------------------------------------------- */

h1 {
    background-color: var(--primary-accent);
    /*background-image: url(https://sadhost.neocities.org/images/tiles/bg_bluewhiteflowers.gif);*/
    color: #0c1509;
    font-family: "dosis";
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 2px 2px rgb(91, 118, 81);
}

h2 {
    font-family: "venice";
    font-weight: 500;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--secondary-accent);
}

h3 {
    color: inherit;
}

hr {
    border: 1px dashed;
    border-color: var(--secondary-accent);
}

bold,
b,
strong {
    color: var(--primary-accent);
    font-weight: bold;
}

italics,
i,
em {
    color: var(--secondary-accent);
}

underline,
u {
    text-decoration: wav;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(120, 139, 104, 0.71);
}

s,
strikethrough {
    color: var(--crossed-out);
}

mark {
    text-shadow: 1px 1px 4px var(--link-colour);
    background-color: inherit;
    color: var(--text-colour);
}

.highlight {
    background-color: var(--primary-accent);
    border-radius: var(--border-radius);
    color: black;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
}

.subtitle {
    background-color: var(--primary-accent);
    /*background-image: url(https://sadhost.neocities.org/images/tiles/bg_bluewhiteflowers.gif);*/
    color: black;
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "dosis";
    text-shadow: 1px 1px rgba(19, 40, 12, 0.25);
    font-size: 1.2rem;
}

blockquote {
    padding: 10px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-left-color: var(--primary-accent);
    border-left-width: 3px;
    border-left-style: solid;
    border-right-color: var(--primary-accent);
    border-right-width: 3px;
    border-right-style: solid;
    background-color: var(--background-colour);
}

abbr {
    text-decoration-style: dotted;
    text-decoration-color: var(--link-hover);
    cursor: pointer;
}

summary {
    font-size: 1em;
    color: var(--secondary-accent);
    text-decoration: underline;
    text-decoration-style: double;
    padding: 5px;
    margin-bottom: 5px;
}

details {
    background-color: var(--background-colour);
    border-radius: var(--border-radius);
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    border-left: 5px solid var(--secondary-accent);
}

/* Link styling */

.intro a,
article a,
aside a,
footer a {
    color: var(--link-colour);
    text-decoration-color: var(--secondary-accent);
    transition: 0.5s;
}

article a img {
    line-height: 0;
}

.intro a:hover,
article a:hover,
aside a:hover {
    color: var(--link-hover);
    text-decoration-color: var(--link-hover);
}

.intro img a {
    cursor: pointer;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* -------------------------------------------------------- */
/* SCROLLBAR STYLING */
/* -------------------------------------------------------- */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-accent) var(--background-colour);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--background-colour);
    border-radius: 10px;
    border: 3px double var(--primary-accent);
}

::selection {
    color: #fff;
    background: var(--primary-accent);
}

/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

header {
    max-width: 100hv;
    align-content: center;
}

header {
    align-content: center;
    text-align: center;
    height: 200px;
    background-color: var(--header-bg);
    background-image: url("Images/websiteBanner.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: fixed;
}

header .title,
header .subtext {
    width: var(--blog-size);
    position: relative;
    top: 45px;
}

header .title {
    font-family: "venice";
    color: var(--header-title);
    height: 30px;
    letter-spacing: 5px;
    font-size: 2em;
    text-transform: lowercase;
}

header .subtext {
    color: var(--header-subtitle);
    height: 23px;
    font-size: 0.8em;
    text-transform: lowercase;
}

/* -------------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------------- */

nav {
    background-color: var(--primary-accent);
    color: #000000;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
}
nav > button {
    min-width: 44px;
    min-height: 24px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border: 0;
    background-color: var(--primary-accent);
    color: #000000;
    font-size: 2.5rem;
}
nav ul {
    display: none;
    margin: 0;
    padding: 0;
    background-color: var(--primary-accent);
    color: #000000;
    list-style: none;
    text-transform: uppercase;
}
nav ul ul {
    background-color: var(--article-bg);
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px;
    color: #000000;
    text-transform: lowercase;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
nav ul ul a {
    color: white;
}
nav ul.show {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
}
nav a {
    min-width: 44px;
    min-height: 24px;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    transition: background-color 150ms ease-in-out;
    color: #000000;
    text-decoration: none;
}
nav a:hover {
    background-color: var(--secondary-accent);
    color: #384529;
}
nav li {
    padding: 0.2rem;
}
nav li.dropdown {
    position: relative;
}
nav li.dropdown > a::after {
    content: "▼";
    display: block;
    margin-left: 0.5rem;
    transition: transform 250ms linear;
    font-size: 0.5em;
}
nav li.dropdown > a[aria-expanded="true"]::after {
    transform: rotate(-180deg);
}
nav li.dropdown ul a {
    padding-left: 1.25rem;
}
nav li.dropdown ul li.dropdown ul a {
    padding-left: 2rem;
}

@media screen and (min-width: 800px) {
    nav button {
        display: none;
    }
    nav li {
        padding: 0;
    }
    nav > ul,
    nav > ul.show {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
    }
    nav .dropdown ul.show {
        position: absolute;
    }
    nav .dropdown ul ul {
        top: 0;
        left: 100%;
    }
    nav ul ul {
        max-width: max-content;
        min-width: 175px;
    }
    nav ul ul li {
        min-width: 175px;
    }
    nav ul {
        text-align: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: var(--blog-size);
    }
}

/* -------------------------------------------------------- */
/* LEFT SIDEBAR (COLUMN ONE) */
/* -------------------------------------------------------- */

.intro {
    margin-top: 20px;
    grid-column: 1;
    height: fit-content;
    position: sticky;
    top: 75px;
    align-content: center;
}

/* Site Button: */

.site-button {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-button a {
    text-decoration: none;
}

.site-button textarea {
    color: black;
    font-family: monospace;
    font-size: 0.75em;
    width: 100%;
}

/* -------------------------------------------------------- */
/* RIGHT SIDEBAR (COLUMN ONE) */
/* -------------------------------------------------------- */

aside {
    margin-top: 20px;
    grid-column: 3;
}

/* -------------------------------------------------------- */
/* SIDEBAR CONTENTS */
/* -------------------------------------------------------- */

section {
    position: relative;
    padding: 15px;
    width: auto;
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Scrollable section for updates */
section .scrollable {
    font-size: 0.75rem;
    height: 100px;
    background-color: var(--background-colour);
    border-radius: var(--border-radius);
    overflow-y: scroll;
    padding: 7px;
    margin-top: 10px;
}

section .scrollable p {
    margin-top: 0;
}

section .full-width-image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
}

/* -------------------------------------------------------- */
/* SIDEBAR LINKS */
/* -------------------------------------------------------- */

.links {
    list-style-type: none;
    padding-left: 0;
}

.links li {
    text-align: center;
    margin-bottom: 5px;
    transition: 0.5s ease-in-out;
    display: block;
}

.links li a {
    background-color: var(--primary-accent);
    border-radius: var(--border-radius);
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
    font-size: 0.9rem !important;
    display: block;
    transition: 0.5s ease-in-out;
}

.links li a:hover {
    padding-top: 6px;
    padding-bottom: 6px;
    color: black;
    font-size: 1rem !important;
    background-color: var(--link-hover);
}

.links li:last-child > a {
    margin-bottom: 0;
}

/* -------------------------------------------------------- */
/* MAIN CONTENT */
/* -------------------------------------------------------- */

main {
    grid-column: 2;
}

/* -------------------------------------------------------- */
/* ARTICLES WITHIN MAIN BODY */
/* -------------------------------------------------------- */

article {
    margin-bottom: 20px;
    width: auto;
    /*min-width: calc(
        var(--blog-size) - (var(--left-sidebar-size) + var(--right-sidebar-size)) - (calc(var(--grid-gap) * 2))
    );*/ /* literally the px number is just grip-gap x2 */
    max-width: calc(
        var(--blog-size) - (var(--left-sidebar-size) - (calc(var(--grid-gap) * 1)))
    ); /* literally the px number is just grip-gap x2 */
}

article ul {
    line-height: 1.2rem;
    list-style-type: square;
}

article ul ul li::marker {
    color: var(--primary-accent);
}

article li {
    padding-top: 3px;
    padding-bottom: 3px;
}

article li::marker {
    color: var(--secondary-accent);
}

/* Checkmark List Type for To-Do */
article .checkbox ul {
    list-style: none;
    padding-left: 40px;
    text-indent: -3ch;
}

article .checkbox ul li:before {
    content: "\2610";
    padding-right: 10px;
}

/* Checkbox List Type for Done To-Do */
/* Checkmark List Type for To-Do */
article .checkboxdone ul {
    list-style: none;
    padding-left: 40px;
    text-indent: -3ch;
}

article .checkboxdone li {
    color: var(--crossed-out);
}

article .checkboxdone ul li:before {
    content: "✓";
    color: #858585;
    padding-right: 10px;
}

article .scrollable {
    height: 250px;
    background-color: var(--background-colour);
    border-radius: var(--border-radius);
    overflow-y: scroll;
    padding: 7px;
    margin-top: 10px;
}

article .columns {
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
}

/* -------------------------------------------------------- */
/* TABS */
/* -------------------------------------------------------- */

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    color: black;
    background-color: var(--primary-accent);
    font-family: inherit;
    font-size: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: var(--border-radius);
    transition: 0.3s;
    margin-right: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--secondary-accent);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--secondary-accent);
}

/* Style the tab content */
.tabcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px 12px;
    border-top: none;
    margin-top: -15px;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Style the tab content */
.tabAltcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align-last: center;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.interest-content ul {
    padding: 0;
}

.interest-content li {
    display: inline;
    line-height: 1.5rem;
}

.interest-content li:after {
    content: " ⋅ ";
    color: var(--secondary-accent);
}

.interest-content ul li:first-child {
    padding-left: 0;
}

.interest-content ul li:last-child {
    padding-right: 0;
}

.interest-content ul li:last-child:after {
    content: "";
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* -------------------------------------------------------- */
/* CONTENT IMAGES */
/* -------------------------------------------------------- */

.image {
    display: block;
    width: auto;
    height: auto;
}

.full-width-image {
    display: block;
    width: 100%;
    height: auto;
}

.lazy-flex-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.lazy-flex-images a {
    text-decoration: none;
    line-height: 0;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% + 5px + 5px);
    margin-left: -5px;
    margin-right: -5px;
}

.images img {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

/* -------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    padding: 5px;
    min-width: 100%;
    background-color: var(--article-bg);
    font-size: 0.75em;
}

footer a:hover {
    color: var(--link-hover);
}

/* -------------------------------------------------------- */
/* FLEX LAYOUT (not used rn) */
/* -------------------------------------------------------- */

.container-flex {
    display: flex;
    /* allow items to wrap into the next line(s): */
    flex-wrap: wrap;
    /* horizontal alignment of items: */
    justify-content: center;
    /* vertical alignment of items: */
    align-items: center;
}

.item {
    flex-shrink: 0; /* disallow items from shrinking */
    flex-grow: 1; /* allow items to grow */
    flex-basis: 100px; /* sets initial size of items */

    /* or... */

    flex: 1 0 100px;
    /* shortcut for flex-shrink, flex-grow, flex-basis */
}

/* -------------------------------------------------------- */
/* ACCESSIBILITY */
/* -------------------------------------------------------- */

/* please do not remove this. */

#skip-to-content-link {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    line-height: 1;
    font-size: 1.25rem;
    background-color: var(--content-background-color);
    color: var(--text-colour);
    transform: translateY(-3rem);
    transition: transform 0.1s ease-in;
    z-index: 99999999999;
}

#skip-to-content-link:focus,
#skip-to-content-link:focus-within {
    transform: translateY(0);
}

/* -------------------------------------------------------- */
/* MOBILE RESPONSIVENESS */
/* -------------------------------------------------------- */

@media screen and (max-width: 800px) {
    .container-grid {
        width: 99%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: 5px;
        margin-right: 5px;
    }

    header {
        height: 140px;
    }

    header .title,
    header .subtext {
        width: auto;
        position: relative;
        top: 0;
    }

    .image-gallery div {
        width: calc(50% - 10px);
    }

    .intro {
        position: inherit; /* disable the sticky */
    }

    .intro,
    aside,
    main {
        grid-column: auto;
        grid-row: auto;
    }

    section,
    article {
        box-shadow: none;
    }

    /* Would prefer to not hide it, but need to figure out how to make it mobile friendly */
    .intro,
    aside {
        display: none;
    }

    header,
    footer,
    header .title,
    header .subtext {
        flex-direction: column;
        max-width: 100%;
    }

    article {
        width: auto;
    }

    footer {
        height: 60px;
        text-align: center;
    }

    .image {
        max-width: 95%;
    }

    img {
        max-width: 100%;
    }

    .side-deco {
        display: none;
    }

    article .columns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    article .scrollable {
        height: fit-content;
        max-height: 400px;
    }
}

/* -------------------------------------------------------- */
/* SCROLL TO TOP */
/* -------------------------------------------------------- */
#backscroll {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--primary-accent); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: var(--border-radius); /* Rounded corners */
    font-size: 1.1rem; /* Increase font size */
    font-family: "atkinson";
}

#myBtn:hover {
    background-color: var(--secondary-accent); /* Add a dark-grey background on hover */
}

/* -------------------------------------------------------- */
/* ACCESSIBILITY */
/* -------------------------------------------------------- */
.asw-menu-btn {
    right: 20px !important;
}

/* -------------------------------------------------------- */
/* PRELOADER */
/* -------------------------------------------------------- */

#preloader {
    background: var(--primary-accent) url("Images/hearts.svg") no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    pointer-events: none;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    display: block;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#preloader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

#preloader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

/* -------------------------------------------------------- */
/* FONT TOGGLE */
/* -------------------------------------------------------- */

#font-toggle {
    position: absolute;
    width: auto;
    top: 7px;
    right: 7px;
    z-index: 9;
}

#font-toggle button {
    font-family: inherit;
    color: white;
    width: 100px;
    height: 30px;
    background-color: var(--primary-accent);
    border: 2px solid var(--secondary-accent);
    border-radius: var(--border-radius);
    transition: 0.5s;
}

#font-toggle button:hover {
    font-size: 1em;
    width: 120px;
    height: 40px;
    box-shadow:
        0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* -------------------------------------------------------- */
/* MISC. CSS ITEMS */
/* -------------------------------------------------------- */

/* Zhongvie Corner Deco */
.side-deco {
    max-width: 300px;
    height: auto;
    float: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Status Cafe */
.feed-container {
    background-color: var(--background-colour);
    font-size: 0.75em;
    font-family: "freepixel", "Courier";
    letter-spacing: normal;
    overflow-y: scroll;
}

.feed-container a {
    color: var(--secondary-accent);
    transition: 0.5s;
    text-decoration: none;
}

.feed-container a:hover {
    color: var(--link-hover);
}

.feed-container .item {
    border-bottom: 1px dotted var(--secondary-accent);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.feed-container .title {
    font-size: 0.75rem;
    margin-bottom: 3px;
}

.feed-container .pubDt {
    color: var(--crossed-out);
    font-size: 0.8em;
}

/* Button Layout */
.cool-buttons {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
}

.cool-buttons img {
    width: min-content;
}

.cool-buttons a {
    text-decoration: none;
}

/* Marquee Replacement */

.marquee-wrapper {
    width: 100%;
    height: 50px;
    overflow: hidden;
    padding-top: 10px;
}

.marquee-guts {
    padding-top: 10px;
}
.marquee-guts .marquee-guts {
    background: #f0f4;
}

/* Image Decorative (for body mostly) */

.image-deco {
    display: inline-flexbox;
    width: auto;
    height: auto;
    max-width: 100%;
    float: left;
}

.image-deco img {
    padding: 3px;
    border-radius: var(--border-radius);
    border: 3px solid var(--primary-accent);
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 200px;
    transition: 0.5s;
}

.image-deco a img:hover {
    border: 3px solid var(--link-hover);
}

/* Gallery Alt */
/* Wrapper */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Items */
.image-gallery div {
    margin: 5px;
    box-sizing: border-box;
    width: calc(25% - 10px);
    border: 5px solid var(--primary-accent);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: transform 0.5s ease;
}

/* Images */
.image-gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

/* Images on Hover */
.image-gallery div:hover img {
    transform: scale(1.15) rotate(10deg);
}

/* Dendro Image on Sidebar: */

.dendro {
    float: left;
    position: absolute;
    left: -40px;
    top: -40px;
    transform: rotate(-25deg);
}

/* -------------------------------------------------------- */
/* ANIMATIONS */
/* -------------------------------------------------------- */

/* Floating Animation */
.img-floatinganim {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Heart Hover */

.img-hearthover {
    transition: all 0.5s;
    display: block;
    -webkit-mask-image: url(https://dl.dropbox.com/s/2kih8ox9q2czjeg/pngfind.com-kawaii-transparent-png-621355.png);
    mask-image: url(https://dl.dropbox.com/s/2kih8ox9q2czjeg/pngfind.com-kawaii-transparent-png-621355.png);
    -webkit-mask-size: 220%;
    mask-size: 250%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.img-hearthover:hover {
    transition: all 0.5s;
    -webkit-mask-image: url(https://dl.dropbox.com/s/2kih8ox9q2czjeg/pngfind.com-kawaii-transparent-png-621355.png);
    mask-image: url(https://dl.dropbox.com/s/2kih8ox9q2czjeg/pngfind.com-kawaii-transparent-png-621355.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}
