/* Base styles */
body {
    font-family: "Arial", Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

p {
    font-size: 1.2em;
    margin: 0.5em 0;
}

/* Styles for Light Mode */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Font Style for Dark Mode */
.accessible-font {
    font-family: 'Times New Roman', Times, serif !important;
}

/* Styles for Dark Mode */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Button hover effect */
button:hover {
    opacity: 0.8;
}
